<div class="w-full">
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Animals</h1>
    <%= link_to 'New animal', new_animal_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="animals" class="min-w-full">
    <%= render @animals %>
  </div>
</div>
