@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-logo {
    @apply text-2xl text-center;
  }

  .link {
    @apply text-emerald-500;
    @apply hover:text-emerald-700 hover:underline;
  }

  .button-primary {
    @apply rounded-lg py-2 px-4 bg-emerald-500 text-white inline-block cursor-pointer;
    @apply hover:bg-emerald-700;
  }

  .button-outline-primary {
    @apply rounded-lg py-2 px-4 bg-emerald-50 border border-emerald-500 text-emerald-500 inline-block cursor-pointer;
    @apply hover:bg-emerald-500 hover:text-white;
  }

  .button-link-primary {
    @apply rounded-lg py-2 px-4 text-emerald-500 inline-block cursor-pointer;
    @apply hover:bg-emerald-700 hover:text-white;
  }

  .notice {
    @apply fixed shadow-xl p-6 bottom-0 bg-green-400 m-8 text-white font-medium rounded-lg inline-block max-w-2xl;
  }

  .form-text-field {
    @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
  }

  .dialog {
    @apply bg-slate-900/50 p-32 fixed w-screen h-screen;
  }

  .card {
    @apply shadow rounded bg-emerald-200 p-5;
  }
}



